/*

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-Regular.woff2") format("woff2"),
    url("/fonts/Hauora-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-Medium.woff2") format("woff2"),
    url("/fonts/Hauora-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-SemiBold.woff2") format("woff2"),
    url("/fonts/Hauora-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-Bold.woff2") format("woff2"),
    url("/fonts/Hauora-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

*/

/*

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-Italic.woff") format("woff2"),
    url("/fonts/Hauora-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-MediumItalic.woff") format("woff2"),
    url("/fonts/Hauora-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-SemiBoldItalic.woff") format("woff2"),
    url("/fonts/Hauora-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Hauora";
    src: url("/fonts/Hauora-BoldItalic.woff") format("woff2"),
    url("/fonts/Hauora-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

*/
